@import '~bootstrap/scss/bootstrap';
body{
  background-color: #b6effb;
}
.btn-login{
  margin: 15px;
}
.icon-sub{
  padding: 15px;
}
.nav-item{
  padding: 5px;
  a{
    text-decoration: none;
  }
}
.sort:hover{
  cursor: pointer;
}

th.sorted.ascending:after {
  content: "  \2191";
}

th.sorted.descending:after {
  content: " \2193";
}
.table-subscribers{
  border: 1px solid blueviolet;
}
.table > :not(caption) > * > *{
  border: 1px solid blueviolet!important;
}

